<%-  include('../header.ejs') %>
    <h1>This is an index of my fruits</h1>
    <% for (let i = 0; i < fruits.length; i++) { %>
        <a href="http://localhost:4000/fruits/<%= i %>"> 
    <h2> Name: <%= fruits[i].name %>   </h2>
</a>
<h2> Color: <%= fruits[i].color %></h2>
<h2> Ready to Eat? <%= fruits[i].readyToEat %></h2>
<h2><img src=" <%= fruits[i].image %>"></h2>
    <hr>  
   <% } %>
</body>
</html>