<%-  include('../header.ejs') %>
<body>
    <h1>This is my individual fruit</h1>
    <h2>Name: <%= fruit.name %></h2>
    <h3>Color: <%= fruit.color %></h3>
    <h3>Ready to Eat? <%= fruit.readyToEat %></h3>
    <img src=" <%= fruit.image %> ">
</body>
</html>